<Body:>
        <div class="container">

            <canvas id="canvas1" class="canv" width=800 height=600 style="position:absolute; z-index:10; pointer-events:none"></canvas>
            <canvas id="canvas2" class="canv" width=800 height=600 style="position:absolute; z-index:11; pointer-events:none"></canvas>

            <div id="ide" style="z-index:0">
                <textarea id="code">
                    {code}
                </textarea>
            </div>
        </div> <!-- /container -->

<Title:>
    Editor
