<Body:>
  <div class="row">
    <form class="span3" x-bind="submit: world.add">
      <h3>Add world</h3>
      <fieldset>
        <label>Name</label>
        <input type="text" value={_page.newWorld.name}>
        <label>Note</label>
        <textarea>{_page.newWorld.note}</textarea>
        <div>
          <button type="submit" class="btn">Add</button>
        </div>
      </fieldset>
    </form>
    <div class="span8 offset1">
      <table class="table">
        <thead>
          <tr>
            <th>World</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          {#each _page.worlds as :world}
            <tr>
              <td>{{:world.name}}</td>
              <td>{{:world.note}}</td>
              <td><button class="btn" x-bind="click: list.remove">Remove</button></td>
            </tr>
          {/}
        </tbody>
      </table>
    </div>
  </div>
