<Body:>
  <div class="row">
    <div class="span8 offset1">
        <h1>My worlds <a class="btn btn-primary" href="editor">Create</a></h1>
      <table class="table">
        <thead>
          <tr>
            <th>World</th>
          </tr>
        </thead>
        <tbody>
          {#each _page.worlds as :world}
            <tr>
              <td><a href="world/{world.id}">{{:world.name}}</a></td>
              <td><button class="btn" x-bind="click: world.remove">Remove</button></td>
            </tr>
          {/}
        </tbody>
      </table>
    </div>
    <div class="span8 offset1">
      <h1>Other worlds</h1>
      <table class="table">
        <thead>
          <tr>
            <th>World</th>
          </tr>
        </thead>
        <tbody>
          {#each _page.other_worlds as :world}
            <tr>
              <td><a href="world/{world.id}">{{:world.name}}</a></td>
              <td>{{:world.name}}</td>
              <td><button class="btn" x-bind="click: world.remove">Remove</button></td>
            </tr>
          {/}
        </tbody>
      </table>
    </div>
  </div>
